AWS_ACCESS_KEY_ID="your_aws_access_key_id"
AWS_SECRET_ACCESS_KEY="your_aws_secret_access_key"
AWS_REGION="eu-west-1"
BRONZE_BUCKET="your_bronze_bucket_name"
SILVER_BUCKET="your_silver_bucket_name"

# Credenciales Base de Datos RDS
DB_HOST="your_rds_endpoint_address"
DB_PORT="5432"
DB_USER="postgres"
DB_PASSWORD="your_db_password"
DB_NAME="postgres"